# Ignore the .bam files
Re-seq_bam/

# Ignore the .DS_Store and other .data files
.DS_Store
.Rhistory
.RData

# Ignore various dirs
Analysis_V*/
Additional_data_files/
*/
.vscode/

# Ignore additional datafiles
*.csv
*.sql
*.pdf
